section {
  width: 100%;
  max-width: 540px;
}

.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 16px;
  width: 100%;
  background-color: var(--clr-dark-grey);
}

h1 {
  font: var(--font-body-sm);
  color: var(--clr-light-grey);
  margin-bottom: 16px;
  text-align: center;
}